<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Site</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html">Week 4 Challenge</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="bootcamp.html">About Bootcamp</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/hacker01.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>"Okay, I'm in."</h1>
            <span class="subheading">My first <strike>hacked</strike> "Bootstrapped" blog site.  <br>...If I can do it, anyone can.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <div class="post-preview">
          <a href="html-html.html">
            <h2 class="post-title">
              HTML - Understanding HTML
            </h2>
            <h3 class="post-subtitle">
              Hypertext Markup Language (HTML) is the standard markup language for documents designed to be displayed in a web browser.
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="/about.html">Dat Boi</a>
            on February 11, 2020</p>
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="html-html.html">View More...</a>
          </div>
        </div>

        <hr>
        <div class="post-preview">
          <a href="html-css.html">
            <h2 class="post-title">
              HTML - Understanding CSS
            </h2>
            <h3 class="post-subtitle">
              Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language like HTML
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="/about.html">Dat Boi</a>
            on September 21, 2019</p>
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="html-css.html">View More...</a>
          </div>
        </div>


        <hr>
        <div class="post-preview">
          <a href="html-javascript.html">
            <h2 class="post-title">
              HTML - Understanding Javascript
            </h2>
            <h3 class="post-subtitle">
              JavaScript enables interactive web pages and is an essential part of web applications. The vast majority of websites use it for client-side page behavior
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="/about.html">Dat Boi</a>
            on September 18, 2019</p>
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="html-javascript.html">View More...</a>
          </div>
        </div>

        <hr>
        <div class="post-preview">
          <a href="github01.html">
            <h2 class="post-title">
              GitHub - What is it?
            </h2>
            <h3 class="post-subtitle">
              GitHub is a global company that provides hosting for software development version control using Git.
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="/about.html">Dat Boi</a>
            on July 8, 2019</p>
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="github01.html">View More...</a>
          </div>
        </div>

        <hr>
        <div class="post-preview">
          <a href="github02.html">
            <h2 class="post-title">
              GitHub - Working with teams
            </h2>
            <h3 class="post-subtitle">
              A fork is a copy of a repository. Forking a repository allows you to freely experiment with changes without affecting the original project.
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="/about.html">Dat Boi</a>
            on August 24, 2019</p>
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="github02.html">View More...</a>
          </div>
        </div>

        <hr>
        <div class="post-preview">
          <a href="pseudocode.html">
            <h2 class="post-title">
              Program Design - Pseudocode
            </h2>
            <h3 class="post-subtitle">
              Pseudocode is an informal high-level description of the operating principle of a computer program or other algorithm. It uses the structural conventions of a normal programming language
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="/about.html">Dat Boi</a>
            on August 24, 2019</p>
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="pseudocode.html">View More...</a>
          </div>
        </div>

        <hr>
        <div class="post-preview">
          <a href="logic.html">
            <h2 class="post-title">
              Program Design - Code logic is beautiful
            </h2>
            <h3 class="post-subtitle">
              Form following function, good code is elegant and efficient
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="/about.html">Dat Boi</a>
            on August 24, 2019</p>
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="logic.html">View More...</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://twitter.com/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/maxkorzan">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
<!--          <p class="copyright text-muted">Copyright &copy; My Bootstrapped Website 2019</p>-->
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>

</body>

</html>
